<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}">
    <link rel="stylesheet" href="" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="" th:href="@{/css/reveal.css}">
    <title>仪表盘</title>
</head>
<body>
    <div id="personOverview" style="width: 800px;height:400px; margin: 0 auto;"></div>
    <div id="everyDayFinished" style="width: 800px;height:400px; margin: 0 auto;"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
<script src="D:\IdeaProjects\flagstone\src\main\resources\static\js\echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript">
    var personOverviewChart = echarts.init(document.getElementById('personOverview'));
	personOverviewChart.setOption({
		title: { text: '个人任务情况' },
		tooltip: {
			trigger: 'axis',
			axisPointer: {            // 坐标轴指示器，坐标轴触发有效
				type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
			}
		},
		legend: {
			data: ['总量', '未完成', '已完成']
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis: [
			{
				type: 'category',
				data: []
			}
		],
		yAxis: [{ type: 'value' }],
		series: [
			{
				name: '未完成',
				type: 'bar',
				label: { show: true, },
				data: [],

			},
			{
				name: '已完成',
				type: 'bar',
				label: {s how: true, },
				data: []
			},
			{
				name: '总量',
				type: 'line',
				data: [],
				markPoint: { data: [] }
			}
		]
	});

    var everyDayFinishedChart = echarts.init(document.getElementById('everyDayFinished'));
    everyDayFinishedChart.setOption({
        title: {text: '每日累计完成'},
        legend: {}, 
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: { backgroundColor: '#6a7985' }
            }
        },
        dataset: { source: [] },
        xAxis: { type: 'category', },
        yAxis: { type: 'value' },
        toolbox: {
            feature: {
                dataZoom: {
                    yAxisIndex: 'none'
                },
                restore: {},
                saveAsImage: {}
            }
        },
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 100
            }, 
            {
                start: 0,
                end: 100,
                handleIcon: 'M10.7,11.9v-1.3H9.3v1.3c-4.9,0.3-8.8,4.4-8.8,9.4c0,5,3.9,9.1,8.8,9.4v1.3h1.3v-1.3c4.9-0.3,8.8-4.4,8.8-9.4C19.5,16.3,15.6,12.2,10.7,11.9z M13.3,24.4H6.7V23h6.6V24.4z M13.3,19.6H6.7v-1.4h6.6V19.6z',
                handleSize: '80%',
                handleStyle: {
                    color: '#fff',
                    shadowBlur: 3,
                    shadowColor: 'rgba(0, 0, 0, 0.6)',
                    shadowOffsetX: 2,
                    shadowOffsetY: 2
                }
        }],
        series: []
    });

    $(document).ready(function() {
        $.ajax({
            url: "/dashboard/personOverview",
            dataType: "json",
            type: "GET",
            success: function(rsp, status) {
                var a = [];
                $.each(rsp['numberOfTasks'], function(index, item) {
                    a[index] = {name: '总量', value: item, xAxis: index, yAxis: item};
                });
                personOverviewChart.setOption({
                    xAxis: [{
                            type: 'category',
                            data: rsp['chargers']
                        }
                    ],
                    yAxis: [{
                        type: 'value'
                    }],
                    series: [
                        {
                            name: '未完成',
                            type: 'bar',
                            label: {
                                show: true,
                            },
                            data: rsp['numberOfUnfinished'],
                        },
                        {
                            name: '已完成',
                            type: 'bar',
                            label: {
                                show: true,
                            },
                            data: rsp['numberOfFinished'],
                        },
                        {
                            name: '总量',
                            type: 'line',
                            data: rsp['numberOfTasks'],
                            markPoint: {
                                data: a
                            }
                        }
                    ]
                })
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert(textStatus);
            }
        });
        $.ajax({
            url: "/dashboard/everyDayFinished",
            dataType: "json",
            type: "GET",
            success: function(rsp, status) {
                var a = [];
                var b = [];
                $.each(rsp['finishedTaskItemsList'], function(index, item) {
                    a[index] = [item['name']].concat(item['finishedTask']);
                    b[index] = {type: 'line', smooth: true, seriesLayoutBy: 'row'};
                });
                var days = ['日期'].concat(rsp['day']);
                var total = ['总量'].concat(rsp['totalFinished']);
                var dataSource = [days].concat(a, [total]);
                var chartSeries = b.concat([{type: 'line', smooth: true, seriesLayoutBy: 'row'}]);
                everyDayFinishedChart.setOption({
                    dataset: {
                        source: dataSource
                    },
                    series: chartSeries
                });
            },
            error: function(jqXHR, textStatus) {
                alert(textStatus);
            }
        });
    });
    
</script>

</html>