<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico" th:href="@{/favicon.ico}">
    <link rel="stylesheet" href="" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.css}">
    <link rel="stylesheet" href="" th:href="@{/css/index.css}">
    <link rel="stylesheet" href="" th:href="@{/css/reveal.css}">
    <title>仪表盘</title>
</head>
<body>
    <div id="main" style="width: 600px;height:400px;"></div>
</body>
<script src="https://code.jquery.com/jquery-3.4.1.js" th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <script src="D:\IdeaProjects\flagstone\src\main\resources\static\js\echarts.min.js" th:src="@{/js/echarts.min.js}"></script>
<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));
    var option = {
		title: {
			text: '个人任务情况000'
		},
		tooltip: {
			trigger: 'axis',
			axisPointer: {            // 坐标轴指示器，坐标轴触发有效
				type: 'shadow'        // 默认为直线，可选为：'line' | 'shadow'
			}
		},
		legend: {
			data: ['总量', '未完成', '已完成']
		},
		grid: {
			left: '3%',
			right: '4%',
			bottom: '3%',
			containLabel: true
		},
		xAxis: [
			{
				type: 'category',
				data: []
			}
		],
		yAxis: [
			{
				type: 'value'
			}
		],
		series: [
			{
				name: '未完成',
				type: 'bar',
				label: {
					show: true,
				},
				data: [],

			},
			{
				name: '已完成',
				type: 'bar',
				label: {
					show: true,
				},
				data: []
			},
			{
				name: '总量',
				type: 'line',
				data: [],
				markPoint: {
					data: []
				}
			}
		]
	};
	myChart.setOption(option);
    $(document).ready(function() {
        $.ajax({
            url: "/dashboard/overview",
            dataType: "json",
            type: "GET",
            success: function(rsp, status) {
                var a = [];
                $.each(rsp['numberOfTasks'], function(index, item) {
                    a[index] = {name: '总量', value: item, xAxis: index, yAxis: item};
                });
                myChart.setOption({
                    xAxis: [{
                            type: 'category',
                            data: rsp['chargers']
                        }
                    ],
                    yAxis: [{
                        type: 'value'
                    }],
                    series: [
                        {
                            name: '未完成',
                            type: 'bar',
                            label: {
                                show: true,
                            },
                            data: rsp['numberOfUnfinished'],
                        },
                        {
                            name: '已完成',
                            type: 'bar',
                            label: {
                                show: true,
                            },
                            data: rsp['numberOfFinished'],
                        },
                        {
                            name: '总量',
                            type: 'line',
                            data: rsp['numberOfTasks'],
                            markPoint: {
                                data: a
                            }
                        }
                    ]
                })
            },
            error: function() {
                alert("error");
            }
        });
    });
</script>

</html>